<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:sharedUserId="android.uid.system"
          package="org.aospextended.device"
          android:versionCode="1"
          android:versionName="1" >

    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <protected-broadcast android:name="com.android.systemui.doze.pulse" />

<uses-sdk
        android:minSdkVersion="31"
        android:targetSdkVersion="31"/>

    <application
        android:allowBackup="true"
        android:label="@string/device_settings_app_name"
        android:persistent="true">

        <receiver android:name=".EarlyStartReceiver" android:directBootAware="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".PowerSaveModeChangeReceiver">
            <intent-filter>
                <action android:name="android.os.action.POWER_SAVE_MODE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".DevicePreferenceActivity"
            android:label="@string/device_specific_settings_title"
            android:theme="@style/Theme.Main">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/device_specific_settings_summary" />
        </activity>

        <service
            android:name=".display.HbmTileService"
            android:icon="@drawable/ic_hbm"
            android:label="@string/lcd_hbm_tile_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <service
            android:name=".display.CabcTileService"
            android:icon="@drawable/ic_cabc"
            android:label="@string/lcd_cabc_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <service
            android:name=".fpsinfo.FPSInfoService"
            android:exported="false">
        </service>

        <service
            android:name=".fpsinfo.FPSTileService"
            android:icon="@drawable/ic_fps"
            android:label="@string/fps_info_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <activity
            android:name=".doze.DozeSettingsActivity"
            android:label="@string/ambient_display_title"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data android:name="com.android.settings.category"
                       android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/device_settings_app_name" />
        </activity>

        <service android:name=".doze.DozeService"
                 android:permission="XiaomiDozeService">
        </service>

        <activity
            android:name=".dirac.DiracActivity"
            android:label="@string/dirac_title"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data android:name="com.android.settings.category"
                       android:value="com.android.settings.category.ia.sound" />
            <meta-data android:name="com.android.settings.summary"
                       android:resource="@string/dirac_summary" />
        </activity>

        <service
            android:name=".RefreshRateTileService"
            android:icon="@drawable/ic_qs_refresh_rate"
            android:label="@string/refresh_rate_tile_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <activity
            android:name=".thermal.ThermalActivity"
            android:label="@string/thermal_title"
            android:theme="@style/Theme.Main">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.battery" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/thermal_summary" />
            <meta-data
                android:name="com.android.settings.order"
                android:value="1" />
        </activity>

        <activity
            android:name=".speaker.ClearSpeakerActivity" 
            android:label="@string/clear_speaker_title"
            android:theme="@style/Theme.Main">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data android:name="com.android.settings.category"
                       android:value="com.android.settings.category.ia.sound" />
        </activity>

        <service
            android:name=".thermal.ThermalService"
            android:permission="ThermalService">
        </service>

        <!-- stub to ensure its loaded - DO NOT REMOVE -->
        <activity android:name=".KeyHandler" />

        <activity
            android:name=".XiaomiPartsActivity"
            android:label="@string/XiaomiParts"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
	    </activity>

        <activity-alias
            android:name=".XiaomiParts"
            android:label="@string/XiaomiParts"
            android:targetActivity="XiaomiPartsActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_settings_gestures" />
            <meta-data
                android:name="com.android.settings.bg.hint"
                android:resource="@color/icon_bg_color"  />
            <meta-data 
                android:name="com.android.settings.bg.argb"
                android:value="@color/icon_bg_color"/>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.homepage" />
            <meta-data android:name="com.android.settings.summary"
                android:resource="@string/XiaomiParts_summary" />
        </activity-alias>

        <activity
            android:name=".gestures.TouchGesturesActivity"
            android:label="@string/screen_off_gestures">
          <intent-filter>
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
          </intent-filter>
        </activity>

        <receiver android:name=".BootReceiver" >
          <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </receiver>

    </application>

</manifest>
